<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <style>
    h3 {color: rgb(173, 173, 173);}
  </style>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
  
  </div>

    <div class="container">
      <h3>Title:</h3>
      <%= bookTitle %>
      <h3>Summary:</h3>
      <%= bookSummary %>
      <h3>Released:</h3>
      <%= releaseDate %>
    </div>
  </div>

</body>
</html>
