<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <% include ../includes/nav.ejs %>
  <%- include('../storeViews/includes/navigation.ejs') %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>Access the Store:</p>
    <a type="button" class="btn btn-lg btn-default" href="/login"></span> Login</a>
    <a type="button" class="btn btn-lg btn-primary" href="/products"></span> View Products</a>

  </div>
</div>

</body>
</html>
