<!DOCTYPE html>
<html>
<head>

</head>

<body>
  <div class="container">
    <h1><%= title %></h1>
    <h2>Phrase 1:</h2>
    <%= input1 %>
    <h2>Phrase 2:</h2>
    <%= input2 %>
  </div>

</body>
</html>
