<!DOCTYPE html>
<html>
<head>

  <% include ../includes/header.ejs %>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="container">
    <h1><%= title %></h1>
    <h2>Phrase 1:</h2>
    <%= input1 %>
    <h2>Phrase 2:</h2>
    <%= input2 %>
  </div>

</body>
</html>
