<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1><%= title %></h1>
    <form action="/prove01/p1submit" method="POST">
        Enter a phrase: <input type="text" name="m1">
        <br>
        Enter another phrase: <input type="text" name="m2">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
