<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  
  <body>
    <% include ../includes/nav.ejs %>
    <form action="/prove01/p1submit" method="POST">
        Enter a phrase: <input type="text" name="m1">
        <br>
        Enter another phrase: <input type="text" name="m2">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
