<!DOCTYPE html>
<html>
<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>

        </div>
        <h1><%= title %></h1>
            <form action="/pr02/bookDisplay" method="POST">
                Book Title: <input type="text" name="BkT">
                <br>
                Book Summary: <input type="text" name="BkS">
                <br>
                <button type="submit">Submit</button>
            </form>
    </div>
</body>
</html>